@model _Page_Views_Home_About_cshtml

<table class="form-control table-striped">

    @{
        var articleList = List<Articles>();
    }
		
	    @foreach (var record in articleList)
	    {
            <tr>
                @foreach (var datum in record)
                {
                    

                <td></td>

                }
            </tr>
		    var name =
	    }
</table>