@Scripts.Render("~/bundles/jquery")
<div class="row main-welcome col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2 class="text-center">Welcome to Take Me there Gov</h2>
        <h2 class="text-center">I am the Govnernor!</h2>
</div>

<div class="col-lg-5 col-lg-offset-2 col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12" >

    <h3 class="text-center" id="main-about-heading">About</h3>
    <hr/>
    <p id="main-about-p">Take me there Gov is a website dedicated to teaching you about the local area around you
        We give you information from local and national government sources to provide an enriching experience.</p>
    <h3 class="text-center" id="main-about-heading">Usage</h3>
    <hr/>
    <p id="main-about-p">To begin your journey please begin searching for a subject in the search box above or
    click either the list or maps button to get a full list of information around you to browse.</p>
    
</div>
<div id="main-img" class=" col-lg-4 col-md-5 col-sm-10 col-xs-12">
    <img src="../../Content/images/govenor.png" />
</div>
<script>
    $(document).ready(function () {

        function makeRequest(url) {
            if (window.XMLHttpRequest) { // Mozilla, Safari, ...
                httpRequest = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // IE
                try {
                    httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e) {
                    try {
                        httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    catch (e) { }
                }
            }

            if (!httpRequest) {
                alert('Giving up :( Cannot create an XMLHTTP instance');
                return false;
            }
            // httpRequest.onreadystatechange = alertContents;
            httpRequest.open('GET', url);
            httpRequest.send();
        }
        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var hr = window.location.href.substr(0, window.location.href.search(window.location.pathname.substr(0)));
                makeRequest(hr + "/Home/UpdateUserLocation?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude);
            });
        }
    });

</script>