@using GovHack2015.Logic
@using GovHack2015.Models
@model GovHack2015.Models.DtoContent

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../Content/timeliner-master/css/timeliner.min.css" type="text/css" media="screen">
<link rel="stylesheet" href="../../Content/timeliner-master/css/responsive.css" type="text/css" media="screen">
<script type="text/javascript" src="../../Content/timeliner-master/js/timeliner.min.js"></script>


@if (Model.Error != null)
{
    <div class="alert-info">@Model.Error</div>
}
else
{

    <div id="timeline" class="timeline-container">

        @{
    DateTime date = DateTime.MinValue;
        }
        @*@for (var i = 0; i < Model.ArticleList.Count(); i++)
            {*@

        @for (var i = 0; i < Model.ArticleList.Count(); i++)
        {
            <div class="timeline-wrapper ">
                <h2 class="timeline-time">@Model.ArticleList.ElementAt(i).DateTime.ToString("MMMM dd, yyyy")</h2>
                <dl class="timeline-series">

                    @{ date = Model.ArticleList.ElementAt(i).DateTime; }

                    @while (date == Model.ArticleList.ElementAt(i).DateTime)
                    {
                        <dt class="timeline-event" id="event@(i)">
                            <a>@Model.ArticleList.ElementAt(i).Title</a>
                        </dt>
                        <dd class="timeline-event-content" id="event@(i)EX">
                            <p>@Model.ArticleList.ElementAt(i).Subjects</p>
                        </dd>
                        i++;
                        if (i > Model.ArticleList.Count()-1)
                        {
                            break;
                        }

                    }

                </dl>
            </div>
        }



    </div>

}


<script>
    $(document).ready(function() {

        function makeRequest(url) {
            if (window.XMLHttpRequest) { // Mozilla, Safari, ...
                httpRequest = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // IE
                try {
                    httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e) {
                    try {
                        httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    catch (e) { }
                }
            }

            if (!httpRequest) {
                alert('Giving up :( Cannot create an XMLHTTP instance');
                return false;
            }
            // httpRequest.onreadystatechange = alertContents;
            httpRequest.open('GET', url);
            httpRequest.send();
        }
        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var hr = window.location.href.substr(0, window.location.href.search(window.location.pathname.substr(0)));
                makeRequest(hr + "/Home/UpdateUserLocation?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude);
            });
        }
      
        $.timeliner({});

    });
</script>