@using GovHack2015.Logic
@using GovHack2015.Models
@model GovHack2015.Models.DtoContent
<table class="form-control table-striped">
 

    @foreach (var record in Model.ArticleList)
    {
        <tr>


            

            <td>@record.Title</td>


        </tr>


    }
</table>
